@using MvcProje.Models.Entity;
@model List<TblUrunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table id="tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN AD</th>
            <th>AD</th>
            <th>KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK </th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.URUNID</th>
                <td>@item.URUNAD</td>
                <td>@item.AD</td>
                <td>@item.TblKategoriler.KATEGORAD</td>
                <td>@item.FIYAT</td>
                <td>@item.STOK</td>
                <td><a href="/Urun/SIL/@item.URUNID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Urun/UrunGetir/@item.URUNID" class="btn btn-success">GÜNCELLE</a></td>


            </tr>
        }

    </tbody>

</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" ></script>


<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tbl').dataTable();
</script>
